<div style="text-align:center">
    <h1>
      Welcome to MeanFlow!
    </h1>
  </div>

<main class="pa4 black-80">
  <form class="measure center" >
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Login</legend>
      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="email-address">Email</label>
        <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" [(ngModel)]="body.email" type="email" name="email-address"  id="email-address">
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="password">Password</label>
        <input class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" [(ngModel)]="body.password" type="password" name="password"  id="password">
      </div>
      <!-- <label class="pa0 ma0 lh-copy f6 pointer"><input type="checkbox"> Remember me</label> -->
    </fieldset>
    <div class="" (click)="loginSubmit()">
      <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="button" value="Login">
    </div>
    <div class="lh-copy mt3">
      <a href="/signup" class="f6 link dim black db">Sign up</a>
    </div>
  </form>
</main>

