<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<article class="pa4 black-80">
  <form class="measure center" accept-charset="utf-8">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="name">Name</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="name" name="name" id="name"
          [(ngModel)]="body.name">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="email-address">Email address</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email-address"
          id="email-address" [(ngModel)]="body.email">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="mobile">Mobile</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="mobile" name="mobile" id="mobile"
          [(ngModel)]="body.mobile">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="password">Password</label>
        <input class="b pa2 input-reset ba bg-transparent" [(ngModel)]="body.password" type="password" name="password"
          id="password">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="conf-password">Confirm password</label>
        <input class="b pa2 input-reset ba bg-transparent" [(ngModel)]="body.rePassword" type="password"
          name="conf-password" id="conf-password">
      </div>
    </fieldset>

    <div class="mt3" (click)="signupSubmit()">
      <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Sign Up">
    </div>

    <div class="lh-copy mt3">
      <a href="/login" class="f6 link dim black db">Login</a>
    </div>
  </form>
</article>


<router-outlet></router-outlet>
