<header class="tc pv4 pv5-ns">
  <img src="https://joeschmoe.io/api/v1/random" class="br3 ba b--black-10 h3 w3" alt="avatar">
  <h1 class="f5 f4-ns fw6 black-70">{{userData.name}}</h1>
  <h2 class="f6 black-70 fw2 ttu tracked">{{userData.email}}</h2>
  <h2 class="f6 black-70 fw2 ttu tracked">{{userData.mobile}}</h2>
  <button style="
  color: darkred;
  border-radius: 10px;" (click)="logoutUser()">Logout</button>
</header>

<article class="pa3 pa5-ns">
  <div (click)="toggleUserList()">
    <h1 class="f4 bold center mw6" style="cursor: pointer;
    border: dimgrey;
    border-style: groove;
    border-width: thin;
    padding: 10px;
    border-radius: 14px;
    ">
      System Users
      <span style="width: 20px; height: 20px; border-radius: 10px; float: right; padding-right: 4%; ">
        <img src="https://joeschmoe.io/api/v1/random" style="width: 20px;
            border-radius: 19px;
            border-color: gray;
            border-style: outset;">
      </span>
    </h1>
  </div>

  <ul *ngIf="dropdownStatus && allUserList.length > 0" class="list pl0 ml0 center mw6 ba b--light-silver br2">
    <li class="ph3 pv3 bb b--light-silver" *ngFor="let user of allUserList; let i = index">
      {{user.name}}
      <button *ngIf="user.email != userData.email" style="float: right;
      color: darkred;
      border-radius: 10px;" (click)="deleteUser(user.email)">
        Delete User</button>
    </li>
  </ul>

  <ul *ngIf="dropdownStatus && allUserList.length == 0" class="list pl0 ml0 center mw6 ba b--light-silver br2">
    <li class="ph3 pv3 bb b--light-silver">Sorry, you are alone here :( </li>
  </ul>

</article>
