.ba {
  border-style: solid;
  border-width: 1px;
}

.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.b--light-silver {
  border-color: #aaa;
}

.br2 {
  border-radius: .25rem;
}

.list {
  list-style-type: none;
}

.mw6 {
  max-width: 32rem;
}

.pa3 {
  padding: 1rem;
}

.pl0 {
  padding-left: 0;
}

.pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ml0 {
  margin-left: 0;
}

.f4 {
  font-size: 1.25rem;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 30em) {
  .pa5-ns {
      padding: 4rem;
  }
}


.b--black-10 {
  border-color: rgba(0, 0, 0, .1);
}

.br3 {
  border-radius: .5rem;
}

.fw2 {
  font-weight: 200;
}

.fw6 {
  font-weight: 600;
}

.h3 {
  height: 4rem;
}

.tracked {
  letter-spacing: .1em;
}

.w3 {
  width: 4rem;
}

.black-70 {
  color: rgba(0, 0, 0, .7);
}

.pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tc {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.f5 {
  font-size: 1rem;
}

.f6 {
  font-size: .875rem;
}

@media screen and (min-width: 30em) {
  .pv5-ns {
      padding-top: 4rem;
      padding-bottom: 4rem;
  }

  .f4-ns {
      font-size: 1.25rem;
  }
}

